# .dockerignore
# Excluir control de versiones
.git
.gitignore

# Excluir configuración de entorno y secretos locales
.env
.env.*
.secrets/
*.md

# Excluir archivos de IDEs
.vscode/
.idea/

# Excluir artefactos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Excluir archivos de Docker (no se necesitan dentro de la imagen)
Dockerfile
docker-compose.yml
docker-compose.*.yml
scripts/

# Excluir datos locales montados
postgres_data/
redis_data/